## Week 8 Instructor-led Lab: Advanced Data Manipulation  
By: Dean Wilson  
Course: BGEN 632: Graduate Introduction to Python  
Date: 20250421

In [78]:
# import modules
import os
import numpy as np
import pandas as pd

In [79]:
# set working directory
os.chdir('C:\\Users\\deanb\\OneDrive\\Desktop\\Python Graduate Class\\Week 8\\week8labs-main\\data')  # add your filepath within the quotes
os.getcwd()  # confirm change

'C:\\Users\\deanb\\OneDrive\\Desktop\\Python Graduate Class\\Week 8\\week8labs-main\\data'

In [80]:
gh_teams = pd.read_csv("github_teams.csv") # Open the file
gh_teams.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 608 entries, 0 to 607
Data columns (total 19 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   name_h                    608 non-null    object
 1   Team_type                 608 non-null    object
 2   Team_size_class           608 non-null    object
 3   human_members_count       608 non-null    int64
 4   bot_members_count         608 non-null    int64
 5   human_work                608 non-null    int64
 6   work_per_human            608 non-null    float64
 7   human_gini                608 non-null    float64
 8   human_Push                608 non-null    int64
 9   human_IssueComments       608 non-null    int64
 10  human_PRReviewComment     608 non-null    int64
 11  human_MergedPR            608 non-null    int64
 12  bot_work                  608 non-null    int64
 13  bot_Push                  608 non-null    int64
 14  bot_IssueComments         608 non-null    int64
 15  bot_PRReviewComment       608 non-null    int64
 16  bot_MergedPR              608 non-null    int64
 17  eval_survival_day_median  303 non-null    float64
 18  issues_count              303 non-null    float64
dtypes: float64(4), int64(12), object(3)
memory usage: 90.4+ KB

In [81]:
 gh_teams.filter(['Team_type', 'human_work', 'work_per_human']) # Filtering Columns from gh_teams

     Team_type  human_work  work_per_human
0    human-bot          66       33.000000
1        human          62       31.000000
2        human         211       30.142857
3    human-bot       14579       62.303419
4    human-bot        1625       42.763158
..         ...         ...             ...
603  human-bot         855      285.000000
604      human          63       31.500000
605      human          26        5.200000
606      human          13        2.600000
607  human-bot          57       28.500000

[608 rows x 3 columns]

In [82]:
gh_teams.filter(regex = "t$") # Filtering Columns for last letter of "t"

,human_members_count,bot_members_count,human_PRReviewComment,bot_PRReviewComment,issues_count
0,2,1,4,0,8.0
1,2,0,0,0,NaN
2,7,0,1,0,46.0
3,234,12,1170,0,4757.0
4,38,8,152,0,777.0
...,...,...,...,...,...
603,3,1,373,0,NaN
604,2,0,0,0,NaN
605,5,0,2,0,NaN
606,5,0,1,0,10.0
607,2,1,1,1,26.0

In [83]:
gh_teams.sort_values(by = ['Team_size_class', 'human_work', 'work_per_human'], ascending =False) #Sorting Data descending

,name_h,Team_type,Team_size_class,human_members_count,bot_members_count,human_work,work_per_human,human_gini,human_Push,human_IssueComments,human_PRReviewComment,human_MergedPR,bot_work,bot_Push,bot_IssueComments,bot_PRReviewComment,bot_MergedPR,eval_survival_day_median,issues_count
559,WLaEz_1Nf-YWzHZa8bBgAA/pLoAhZ1cbPT38VYoSdXGmg,human,Small,3,0,3040,1013.333333,0.292105,434,2606,0,0,0,0,0,0,0,3.0,365.0
209,eIPosZ68E2LjtaixYK65EQ/0Rp6D1ZR1w4YspfD1H-PfA,human-bot,Small,3,1,1639,546.333333,0.413260,1114,283,223,19,156,0,156,0,0,21.0,204.0
410,pxIFRbeuXsUzHtQB3vDwVA/JlkO4fgLE3bD5QjXcU-0CQ,human-bot,Small,3,1,913,304.333333,0.549836,130,507,271,5,53,0,53,0,0,50.0,108.0
268,hXoZRbHPbVxh--funPXSiw/iNU0l_SpKVjGfHOp8vUt8w,human-bot,Small,2,2,910,455.000000,0.065934,207,369,334,0,114,0,114,0,0,4.0,64.0
603,zTj5tlMWgotzJmQl7BP8wQ/iQ914_smScbUO8BI9JlE6A,human-bot,Small,3,1,855,285.000000,0.474854,423,59,373,0,26,0,26,0,0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
112,7Xep-tc_sXRqdGZ18-MUog/m4gKCZYLclV3PlKDdogc7w,human,Large,9,0,57,6.333333,0.475634,57,0,0,0,0,0,0,0,0,NaN,NaN
564,WMMEJn_D7axJ01w5Xw-8Dw/O8KdDIC1elOLPB08sR2lNw,human-bot,Large,7,1,53,7.571429,0.463612,23,22,8,0,8,2,6,0,0,NaN,NaN
165,bxLD_LudiJ8mO7AZa8QgwQ/9LZ8c1ynzo_ohr4eRwcdcg,human,Large,8,0,51,6.375000,0.517157,51,0,0,0,0,0,0,0,0,NaN,NaN
562,WMMEJn_D7axJ01w5Xw-8Dw/7F60C3mR08-_sYUM_MNHtA,human-bot,Large,7,1,38,5.428571,0.300752,31,6,1,0,11,6,5,0,0,NaN,NaN
292,ilEEnZRNdUqNk7tvvGBo1Q/8xHANrgyHiFV3TuhcqwrpQ,human,Large,8,0,14,1.750000,0.250000,14,0,0,0,0,0,0,0,0,NaN,NaN

In [84]:
gh_teams.query("Team_type == 'human-bot' and bot_members_count >= 3") # Selecting human-bot teams that have 3 or more bot_member_count

,name_h,Team_type,Team_size_class,human_members_count,bot_members_count,human_work,work_per_human,human_gini,human_Push,human_IssueComments,human_PRReviewComment,human_MergedPR,bot_work,bot_Push,bot_IssueComments,bot_PRReviewComment,bot_MergedPR,eval_survival_day_median,issues_count
3,_l5u7I5p4thtW5SjR_9_4w/aZNCdVXta7fh7eCMzZP1CA,human-bot,Large,234,12,14579,62.303419,0.738342,1942,11430,1170,37,1972,0,1972,0,0,1.0,4757.0
4,_l5u7I5p4thtW5SjR_9_4w/m_FpD7PKQHqVXHn2bh7u2g,human-bot,Large,38,8,1625,42.763158,0.666607,203,1270,152,0,302,0,302,0,0,2.0,777.0
89,5Is-_ie16OEGmW1arZm8qg/8UeSk2P76pTG7pPLtxsHTQ,human-bot,Large,17,4,7412,436.000000,0.439621,4182,1257,1917,56,358,5,202,151,0,2.0,495.0

In [85]:
gh_teams.query("Team_type == 'human' and Team_size_class == 'Large' and human_gini >= 0.75") # Finding large human teams that have .75 or more human_gini value

,name_h,Team_type,Team_size_class,human_members_count,bot_members_count,human_work,work_per_human,human_gini,human_Push,human_IssueComments,human_PRReviewComment,human_MergedPR,bot_work,bot_Push,bot_IssueComments,bot_PRReviewComment,bot_MergedPR,eval_survival_day_median,issues_count
138,ASYGR96YA91p3z7MNKjZCA/IB2pZ8ygcvNnlxUdysjSFA,human,Large,12,0,1655,137.916667,0.799446,793,684,178,0,0,0,0,0,0,4.0,190.0
285,IiUao8vA_zm_uEIVVLI-Sw/91ya8vlSP8qgwCllH_6BSw,human,Large,25,0,3599,143.960000,0.863507,1249,2350,0,0,0,0,0,0,0,0.0,1245.0
505,uLHPO58cQefwrJUbyhYOKQ/7YWOP8uDEeKDHQMWKqOoYA,human,Large,48,0,5748,119.750000,0.782040,1715,3891,142,0,0,0,0,0,0,0.0,1200.0
582,y8Jw59EHVSrsluSuhR5okg/V5vb074jNkzg4YCKforX1Q,human,Large,8,0,277,34.625000,0.781137,275,2,0,0,0,0,0,0,0,NaN,NaN

In [86]:
gh_teams.query("Team_size_class == 'Small' or Team_size_class == 'Large'").shape # Finding 428 teams in small or large category

(428, 19)

In [87]:
gh_teams.query("(Team_size_class == 'Small' or Team_size_class == 'Large') and human_gini <= 0.25").shape # Finding small or large teams with .25 or less value in humann_gini

(89, 19)

In [88]:
gh_teams.query("Team_type == 'human' and Team_size_class == 'Medium'").shape # How many human teams in medium category

(96, 19)

In [89]:
gh_df1 = gh_teams[['Team_size_class', 'work_per_human']] # New DF with columns Team_size_class and work_per_human
gh_df1.info() # Verify new df

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 608 entries, 0 to 607
Data columns (total 2 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Team_size_class  608 non-null    object
 1   work_per_human   608 non-null    float64
dtypes: float64(1), object(1)
memory usage: 9.6+ KB

In [90]:
gh_df2 = gh_teams[['human_gini', 'eval_survival_day_median']] # Creating new DF 
gh_df2 = gh_df2.rename(columns = {'human_gini':'work_inequality', 'eval_survival_day_median': 'issue_resolution_time'}) # Renaming and saving changes
gh_df2.info() # Show new column names

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 608 entries, 0 to 607
Data columns (total 2 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   work_inequality        608 non-null    float64
 1   issue_resolution_time  303 non-null    float64
dtypes: float64(2)
memory usage: 9.6 KB

### References
* OpenAI. (2025). ChatGPT conversation share: Advanced data manipulation guide. Retrieved April 21, 2025, from https://chatgpt.com/share/6806768a-5338-8001-91ea-5153412389c5
* Wilson, D. (2025). Week 7 instructor lab: Advanced data manipulation [Jupyter Notebook]. GitHub. https://github.com/DeanWilson406/week7labs/blob/main/07_Instructor_Lab_Dean_Wilson_Updated.ipynb